form {
  max-width: 300px;
}

.letter-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.text-label {
  flex: 1 0 140px;
  max-width: 140px;
  text-align: end;
  padding: 14px;
}

.text-input {
  width: 3rem;
  flex: 0 0 3rem;
}