body {
  margin-inline-start: 1rem;
}

form {
  max-width: 300px;
}

.letter-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.text-label {
  flex: 1 0 110px;
  max-width: 110px;
  text-align: end;
  padding: 14px;
}

.text-input {
  width: 3rem;
  flex: 0 0 3rem;
}

.submit-button {
  margin-block-start: 1rem;
  margin-inline-start: 126px;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 2px;
}
